#ninja {
    transform: scale(0.5);
    position: absolute;
    left: 320px;
    top: 240px;
}

.ninja-idle {
    width: 242px;
    height: 449px;
    background: url('../img/sprites/ninja-idle.png') left center;
    animation: idle 0.5s steps(10) infinite;
}

@keyframes idle {
    100% {
        background-position: -2420px;
    }
}

.ninja-run {
    width: 373px;
    height: 468px;
    background: url('../img/sprites/ninja-run.png') left center;
    animation: run 0.5s steps(10) infinite;
}

@keyframes run {
    100% {
        background-position: -3730px;
    }
}

.ninja-attack {
    width: 546px;
    height: 505px;
    left: 228px !important;
    top: 220px !important;
    background: url('../img/sprites/ninja-attack.png') left center;
    animation: attack 0.5s steps(10) infinite;
}

@keyframes attack {
    100% {
        background-position: -5460px;
    }
}

.ninja-dead {
    width: 492px;
    height: 508px;
    background: url('../img/sprites/ninja-dead.png') left center;
    animation: dead 1.3s steps(10) infinite;
}

@keyframes dead {
    100% {
        background-position: -4920px;
    }
}