.main-loader {
    width: 100%;
}

.main-game {
    min-width: 1100px;
    width: 1100px;
    height: 600px;
    position: relative;
}

.panel-sides {
    width: calc((100% - 1100px) / 2); 
    height:600px; 
    background: white; 
    z-index: 2000;
}

.game-counter {
    position: absolute;
    right: 35px;
    top: 20px;
    color: white;
}
.cyberpunk-back {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: left;
    background-repeat: repeat-x;
}

@keyframes cyber-parallax-1 {
    100% {
        background-position-x: -1100px;
    }
}

@keyframes cyber-parallax-2 {
    100% {
        background-position-x: -800px;
    }
}

.cyberpunk-back-1 {
    background-image: url('../img/parallax/back-buildings.png');
    animation: 50s cyber-parallax-2 linear infinite;   
    animation-play-state: paused;
}

.cyberpunk-back-2 {
    background-image: url('../img/parallax/far-buildings.png');
     animation: 50s cyber-parallax-2 linear infinite;   
     animation-play-state: paused;
}

.cyberpunk-back-3 {
    background-image: url('../img/parallax/foreground.png');
     animation: 5s cyber-parallax-1 linear infinite;   
     animation-play-state: paused;
}

