.tudai-title {
    letter-spacing: 2px;
    font-weight: lighter;
    font-family: ziperhead;
}

.main-loader {
    width: 100%;
}

.logo-home {
    margin-top: 20px;
}

.main-game {
    position: relative;
    min-width: 1100px;
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border-radius: 5px;
}

.instructions {
    margin-top: 40px;   
    margin-bottom: 60px;
}

.instructions .row {
    margin-top: 40px;
} 

.instruction-block-right,.instruction-block-left {
    width: 300px;
}

.instruction-block-right {
    text-align: right;
}

.instructions img {
    height: 160px;
}

.instructions-actions {
    height: 60px !important;
}

.btn-play,.btn-skip {
    letter-spacing: 8px;
    text-align: center;
    font-family: ziperhead;
    color: #FF7C00;
    text-shadow: 2px 2px #080B35;
    font-size: 40px;
    background-color: rgba(255, 165, 0, 0.35);
    margin-top: 45px;
}

.game-messages {
    position: absolute;
    top: 200px;
    color: #FF7C00;
    font-family: ziperhead;
    font-weight: bolder;
    font-size: 100px;
    text-shadow: 2px 2px #080B35;
}

.coundown-ready-fade-out {
    animation: countdownFadeout 3s;
    animation-fill-mode: forwards;
}

@keyframes countdownFadeout {
    100% {
        opacity: 0;
    }
}

.game-counter {
    position: absolute;
    right: 35px;
    top: 20px;
    font-family: ziperhead;
    color: white;
}

.cyberpunk-back {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: left;
    background-repeat: repeat-x;
}

@keyframes cyber-parallax-1 {
    100% {
        background-position-x: -1100px;
    }
}

@keyframes cyber-parallax-2 {
    100% {
        background-position-x: -800px;
    }
}

.cyberpunk-back-1 {
    background-image: url('../img/parallax/back-buildings.png');
    animation: 50s cyber-parallax-2 linear infinite;
    animation-play-state: paused;
}

.cyberpunk-back-2 {
    background-image: url('../img/parallax/far-buildings.png');
    animation: 50s cyber-parallax-2 linear infinite;
    animation-play-state: paused;
}

.cyberpunk-back-3 {
    background-image: url('../img/parallax/foreground.png');
    animation: 5s cyber-parallax-1 linear infinite;
    animation-play-state: paused;
}


/* Modal */

.modal-win-game {
    letter-spacing: 5px;
    text-align: center;
    font-family: ziperhead;
    color: #FF7C00;
    text-shadow: 2px 2px #080B35;
    font-size: 20px;
}


/* Scores */
.ninja-caos-score-list {
    font-size: 14px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: ziperhead;
    text-align: center;
    letter-spacing: 2px;
}

.form-score {
    margin: 12px 0px 12px 0px;
    border-radius: 10px;
    font-size: 16px;
}

.form-score input {
    padding-left: 7px;
    background-color: #fdf4dd;
}

.form-score button {
    background-color: rgba(255, 165, 0, 0.35);
}

.play-again {
    margin-bottom: 30px;
    font-family: ziperhead;
    color: #FF7C00;
    background-color: rgba(255, 165, 0, 0.35);
}

/* Cursor Pointer */
button:hover {
    cursor: pointer;
}

/*Media Queries*/

@media only screen and (max-width: 1366px) {
    .main-game {
        transform: scale(0.8);
    }

    .main-loader {
        margin-top: -35px;
        margin-bottom: -35px;
    }
}


/*Audio Player*/

.btn-audio-player {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #000000;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease 0;
    transition: all 0.2s ease 0;
}

#btn-play {
    width: 34px;
    height: 34px;
    margin: 2px 5px 0px 22px;
}

#btn-play i {
    font-size: 16px;
}

#btn-stop,
#btn-mute {
    width: 29px;
    height: 29px;
    margin-top: 5px;
}

#btn-stop i,
#btn-mute i {
    font-size: 10px;
    position: relative;
    top: -2px;
}

.btn-audio-player:hover {
    color: #999;
    border-color: #999;
    cursor: pointer;
}

.btn-audio-player:focus {
    outline: none;
}


/*Audio Player*/


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px;
    /* Vertically center the text there */
    text-align: center;
    font-weight: lighter;
}