#zombie {
    transform: scaleX(-0.5) scaleY(0.5);
    position: absolute;
    width: 420px;
    height: 529px;
    top: 187px;
    right: 0px;
}

.zombie-attack { 
    background: url('../img/sprites/zombie-attack.png') left center;
    animation: zombieAttack 1s steps(8) infinite;
}

@keyframes zombieAttack {
    100% {
        background-position: -3520px;
    }
}

.zombie-walk {
    background: url('../img/sprites/zombie-walk.png') left center;
    animation: zombieWalk 2s steps(10) infinite;
    transition: right 3s linear;
}

@keyframes zombieWalk {     
    100% {
        background-position: -4400px;
    }
}

.zombie-die {
    width: 590px !important;
    background: url('../img/sprites/zombie-dead.png') left center;
    animation: zombieDie 1.3s steps(11) forwards;
}

@keyframes zombieDie {
    100% {
        background-position: -7120px;
    }
}

@keyframes zombieMoveDead {
    100% {
        right: 980px;
    }
}

