#zombie {
    transform: scaleX(-0.5) scaleY(0.5);
    position: absolute;
    width: 420px;
    height: 529px;
    top: 187px;
}

.zombie-walk {
    background: url('../img/sprites/zombie-walk.png') left center;
    animation-name: zombieWalk,zombieMove;
    animation-duration: 2s,7s;
    animation-timing-function: steps(10),linear;
    animation-iteration-count: infinite,infinite;
}

@keyframes zombieWalk {     
    100% {
        background-position: -4400px;
    }
}

@keyframes zombieMove {
    0% {
        right: -250px;
    }     
    100% {
        right: 1100px;
    }
}

.zombie-die {
    width: 590px !important;
    background: url('../img/sprites/zombie-dead.png') left center;
    animation: zombieDie 1.3s steps(11);
    animation-fill-mode: forwards;
    top: 210px !important;
    left: 120px !important;
}

@keyframes zombieDie {
    100% {
        background-position: -7120px;
    }
}

.zombie-dead-moving {
    width: 590px !important;
    background: url('../img/zombie/zombie-dead.png') left center;
    animation: zombieMoveDead 1s linear forwards;
    animation-play-state: paused;
    top: 210px !important;
    left: 120px !important;
}

@keyframes zombieMoveDead {
    100% {
        left: -300px;
    }
}

