.cards-view {
  background: no-repeat url('') 50% / 100%;
  display: table-row;
  -moz-box-shadow: 0px 1px 1px 1px #ccc;
  -webkit-box-shadow: 0px 1px 1px 1px #ccc;
  box-shadow: 0px 1px 1px 1px #ccc;
  border: 2px solid white;
  margin: 20px;
  animation: carHoverAnimOut 0.5s ease;
  animation-fill-mode:forwards;
}

.cards-view:hover {
  cursor: zoom-in;
  animation: carHoverAnim 0.5s ease;
  animation-fill-mode:forwards;
}

.cards-spinner {
  height: 80%;
  width: 100%;
  overflow: hidden;
}

@keyframes carHoverAnim {
  100% { transform: scale(1.01); filter: brightness(30%); }
}
@keyframes carHoverAnimOut {
  100% { transform: scale(0.99); }
}

.cards-view img {
  vertical-align: top;
  width: 100%;
  opacity: 0;
  /* make it transparent */
}

.retweets-count {
  margin-left: 30px;
  position: absolute;
  pointer-events: none;
  top: -67px;
  color: white;
  font-size: 33px;
  animation: retweetAnim 3s infinite;
  font-family: Roboto;
}

.favourite {
  position: absolute;
  pointer-events: none;
  height: 250px;
  width: 255px;
  transform: scale(0.15);
  bottom: -50px;
  left: 10px;
  animation: favAnim1 3.5s ease;
  animation-fill-mode:forwards;
}

.favourite_b {
  animation: favAnim2 3.5s ease;
  animation-fill-mode:forwards;
}

.favourite_1000 {
  animation: favAnim3 3.5s ease;
  animation-fill-mode:forwards;
}

.favConteiner {
  position: relative;
  height: 1px;
  width: 1px;
}
.cardConteiner {
  display: table;
  margin-top: 26px;
}

@keyframes favAnim1 {
  10% { left: -10px }
  30% { left:  30px }
  50% { left: -10px }
  80% { left:  40px }
  100% {bottom: 200px; opacity: 0; left: 10px}
}

@keyframes favAnim2 {
  10% { left: -10px; bottom: -30px; }
  30% { left:  30px; bottom: 0px; opacity: 0.7; }
  50% { left: -10px; bottom: 30px; opacity: 0.6; }
  80% { left:  40px; bottom: -30px; opacity: 0.6; }
  100% { bottom: -80px; opacity: 0; left: 10px}
}

@keyframes favAnim3 {
  10% { left: -20px }
  30% { left:  40px; opacity: 0.7; }
  50% { left: -20px; opacity: 0.6; }
  80% { left:  50px; opacity: 0.6; }
  100% { bottom: 200px; opacity: 0; left: 10px}
}

@keyframes retweetAnim {
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}

/* Zoom Card - Full Size Image */
.modal-content {
  height:100%;
  background-color: transparent;
  border: none;
}

.carousel-modal-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  width: 100%;
  height: 100%;
}

.modal-exit {
  position: relative;
  margin-top: 8px;
  text-align: center;
  color: white;
  cursor: pointer;
}
/*Media Queries
----------------------------------------------------*/

@media only screen and (max-width: 1366px) {

  .modal-content {
    max-height: 500px;
  }

}

@media all and (min-width: 1367px) { 

  .modal-content {
    max-height: 800px;
  }

}

