.carousel-pichash {
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

.carousel-img-container {
    position: relative;
    width:100%;
    height: 100%;
}

.slide-pic-next {
    animation: slidePicNext 0.5s;
}

@keyframes slidePicNext {
    0% {
        left: -10%;
        opacity: 0.2
    }
    100% {
        left: 0%;
        opacity: 1;
    }
}

.slide-pic-back {
    animation: slidePicBack 0.5s;
}

@keyframes slidePicBack {
    0% {
        right: -10%;
        opacity: 0.2
    }
    100% {
        right: 0%;
        opacity: 1;
    }
}

.carousel-img-container img {
    position: absolute;
    height: 100%;
    border-radius: 10px;
}

.carousel-arrow-left,
.carousel-arrow-right {
    position: fixed;
    cursor: pointer;
    z-index: 2000;
    text-shadow: 3px 3px 16px #333244;
}

.carousel-arrow-left {
    left: 10%;
}

.carousel-arrow-right {
    right: 10%;
}


/*Media Queries*/

/* @media only screen and (max-width: 1366px) {
    .carousel-img-container {
        transform: scale(0.7);
    }
}

@media only screen and (max-height: 770px) {
    .carousel-img-container {
        transform: scale(0.7);
    }
} */