.container-fluid {
    background-color: #D7EFFE;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.main-loader {
    width: 100%;
    height: 100%;
}

.pic-search {
    min-width: 100px;
    width: 30%;
    margin-top: 150px;
}

button:hover {
    cursor: pointer;
}

.about {
    font-size: 20px;
    line-height: 2;
    font-variant: petite-caps;
    font-weight: lighter;
    text-align: center;
    padding-top: 40px;
}

.pic-search input,button {
    -moz-box-shadow: 0px 1px 1px 1px #ccc;
    -webkit-box-shadow: 0px 1px 1px 1px #ccc;
    box-shadow: 0px 1px 1px 1px #ccc;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px;
    /* Vertically center the text there */
    text-align: center;
    font-weight: lighter;
}