.img-home {
  max-width: 600px;
}

.rules {
  font-size: 30px;
  line-height: 2;
  font-variant: petite-caps;
}

.disk-quant {
  margin-top: 20px;
  margin-bottom: 18px;
} 

.disk-quant h4 {
  padding-top: 9px;
}

#disk-quant {
  width: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  margin-left: 6px;
}

#moves-counter {
  margin-left: 4px;
}
.moves-counter {
  margin-top: 28px;
}

.timer {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 15px 2px 15px;
}

.modal-body {
  text-align: center;
  font-size: 30px;
}

.moves-finished,.timer-finished {
  font-size: 20px;
}

.timer-finished {
  margin-top: 30px;
}

.play-again {
  margin-bottom: 30px;
  margin-top: 70px;
}

/*Audio Player*/
.btn-audio-player {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000000;
  border-radius: 50%;
  color: #000000;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}

#btn-play {
  width: 34px;
  height: 34px;
  margin: 2px 5px 0px 22px;
}
#btn-play i {
  font-size: 16px;
}
#btn-stop,#btn-mute {
  width: 29px;
  height: 29px;
  margin-top: 5px;
}

#btn-stop i,#btn-mute i{
  font-size: 10px;
  position: relative;
  top: -2px;
}

.btn-audio-player:hover {
  color: #999;
  border-color: #999;
  cursor: pointer;
}
.btn-audio-player:focus {
  outline: none;
}




/*Audio Player*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    text-align: center;
    font-weight: lighter;
  }
